<link rel="stylesheet" href="/css/box.css">
<div class="con">
    <div class="box" id="title">
        <h1 id="title1">AI in a Box</h1>
        <h1 id="title2">THE GAME</h1>
    </div>
    <div class="box" >
        <ul id="menu-options">
            <li >Start</li>
            <li>Tips</li>
            <li>Settings</li>
        </ul>
    </div>
</div>